@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
}

.font-quicksand {
  font-family: var(--font-quicksand), sans-serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}